<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/masterTemplate :: head">
</head>
<body>
<nav th:replace="/fragments/masterTemplate :: navbar"></nav>

<h1 class="welcome_message">An Error occured</h1>
<table>
  <tr>
    <th>Error</th>
  </tr>
  <tr th:each="errorReason: ${errorReasons}">
    <td>
      <p th:each="errorMsg: ${errorReasons.validationFieldResultList}">
        <span th:text="${errorMsg.message}"></span>
      </p>
    </td>
  </tr>
</table>

<script th:replace="/fragments/masterTemplate :: bootstrapJs"></script>
</body>
</html>