<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="/fragments/masterTemplate :: head">

</head>
<body>
<!--navbar -->
<nav th:replace="/fragments/masterTemplate :: navbar"></nav>

<!--Form-->

<div class="form_data">
    <h4>Sign Text: </h4>
    <form th:action="@{/sign}" th:object="${signInteraction}" method="post">
        <div class="mb-3 w-50 p-3 h-75">
            <div>
                <label for="exampleFormControlTextarea1" class="form-label">Enter text</label>
            </div>
            <div>
                <input type="text" class="form-control" id="exampleFormControlTextarea1"
                       th:field="*{signText}">
            </div>
        </div>

        <h3>Enter Code Specification</h3>

        <div class="mb-3 w-25 p-3">
            <label for="exampleFormControlTextarea1" class="form-label">Enter Area</label>
            <input type="text" class="form-control" id="exampleFormControlTextarea2"
                   th:field="*{area}">
        </div>

        <div class="mb-3 w-25 p-3">
            <label for="exampleFormControlTextarea1" class="form-label">Enter Map</label>
            <input type="text" class="form-control" id="exampleFormControlTextarea3"
                   th:field="*{map}">
        </div>

        <div class="mb-3 w-25 p-3">
            <label for="exampleFormControlTextarea1" class="form-label">Enter Direction</label>
            <input type="text" class="form-control" id="exampleFormControlTextarea4"
                   th:field="*{direction}">
        </div>

        <h3>Filename</h3>

        <div class="mb-3 w-25 p-3">
            <label for="exampleFormControlTextarea1" class="form-label">Enter Filename</label>
            <input type="text" class="form-control" id="exampleFormControlTextarea5"
                   th:field="*{fileName}">
        </div>

        <button type="submit" name="submit" value="value" class="btn btn-dark btn-lg">Submit</button>
    </form>

</div>
<script th:replace="/fragments/masterTemplate :: bootstrapJs"></script>
</body>
</html>
