<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="/fragments/masterTemplate :: head">

</head>
<body>
<!--navbar -->
<nav th:replace="/fragments/masterTemplate :: navbar"></nav>

<!--Form-->

<div class="form_data">
    <form th:action="@{/treasure}" th:object="${treasureInteraction}" method="post">

        <h3>Enter Code Specification</h3>

        <div class="mb-3 w-25 p-3">
            <label for="exampleFormControlTextarea1" class="form-label">Enter Area</label>
            <input type="text" class="form-control" id="exampleFormControlTextarea1"
                   th:field="*{area}">
        </div>

        <div class="mb-3 w-25 p-3">
            <label for="exampleFormControlTextarea2" class="form-label">Enter Map</label>
            <input type="text" class="form-control" id="exampleFormControlTextarea2"
                   th:field="*{map}">
        </div>

        <h3>Filename</h3>

        <div class="mb-3 w-25 p-3">
            <label for="exampleFormControlTextarea3" class="form-label">Enter Filename</label>
            <input type="text" class="form-control" id="exampleFormControlTextarea3"
                   th:field="*{fileName}">
        </div>

        <button type="submit" name="submit" value="value" class="btn btn-dark btn-lg">Submit</button>

        <h3> Select Item </h3>
        <div>
            <div class="mb-3 w-25 p-3">
                <label for="exampleFormControlTextarea4" class="form-label">Enter First Item</label>
                <input type="text" class="form-control" id="exampleFormControlTextarea4"
                       th:field="*{itemOneName}">
            </div>
            <div class="mb-3 w-25 p-3">
                <label for="exampleFormControlTextarea5" class="form-label">Enter Amount</label>
                <input type="text" class="form-control" id="exampleFormControlTextarea5"
                       th:field="*{itemOneAmount}">

            </div>
            <div>
                <div class="mb-3 w-25 p-3">
                    <label for="exampleFormControlTextarea6" class="form-label">Enter Second Item</label>
                    <input type="text" class="form-control" id="exampleFormControlTextarea6"
                           th:field="*{itemTwoName}">
                </div>
                <div class="mb-3 w-25 p-3">
                    <label for="exampleFormControlTextarea7" class="form-label">Enter Amount</label>
                    <input type="text" class="form-control" id="exampleFormControlTextarea7"
                           th:field="*{itemTwoAmount}">
                </div>
            </div>
            <div>

                <div class="mb-3 w-25 p-3">
                    <label for="exampleFormControlTextarea8" class="form-label">Third Item</label>
                    <input type="text" class="form-control" id="exampleFormControlTextarea8"
                           th:field="*{itemThreeName}">
                </div>

                <div class="mb-3 w-25 p-3">
                    <label for="exampleFormControlTextarea9" class="form-label">Enter Amount</label>
                    <input type="text" class="form-control" id="exampleFormControlTextarea9"
                           th:field="*{itemThreeAmount}">
                </div>
            </div>
        </div>
    </form>
</div>
<script th:replace="/fragments/masterTemplate :: bootstrapJs"></script>
</body>
</html>
